@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@layer base {
  :root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    /* Background and Foreground */
    --background: 0 0% 98.4%; /* #FAFAFA */
    --foreground: 15.6 5.6% 23.1%; /* #403C39 */

    /* Card */
    --card: 0 0% 98.4%; /* #FAFAFA */
    --card-foreground: 15.6 5.6% 23.1%; /* #403C39 */

    /* Popover */
    --popover: 0 0% 98.4%; /* #FAFAFA */
    --popover-foreground: 15.6 5.6% 23.1%; /* #403C39 */

    /* Primary */
    --primary: 11.2 85.6% 67.8%; /* #F38160 */
    --primary-foreground: 0 0% 98.4%; /* #FAFAFA */

    /* Secondary */
    --secondary: 0 0% 98.4%; /* #FAFAFA */
    --secondary-foreground: 15.6 5.6% 23.1%; /* #403C39 */

    /* Muted */
    --muted: 0 0% 98.4%; /* #FAFAFA */
    --muted-foreground: 15.6 5.6% 23.1%; /* #403C39 */

    /* Accent */
    --accent: 0 0% 98.4%; /* #FAFAFA */
    --accent-foreground: 15.6 5.6% 23.1%; /* #403C39 */

    /* Destructive */
    --destructive: 11.2 85.6% 67.8%; /* #F38160 */
    --destructive-foreground: 0 0% 98.4%; /* #FAFAFA */

    /* Border and Input */
    --border: 0 0% 98.4%; /* #FAFAFA */
    --input: 0 0% 98.4%; /* #FAFAFA */
    --ring: 11.2 85.6% 67.8%; /* #F38160 */

    /* Radius */
    --radius: 0.5rem;
  }

  .dark {
    /* Background and Foreground for dark mode */
    --background: 15.6 5.6% 23.1%; /* #403C39 */
    --foreground: 0 0% 98.4%; /* #FAFAFA */

    /* Card */
    --card: 15.6 5.6% 23.1%; /* #403C39 */
    --card-foreground: 0 0% 98.4%; /* #FAFAFA */

    /* Popover */
    --popover: 15.6 5.6% 23.1%; /* #403C39 */
    --popover-foreground: 0 0% 98.4%; /* #FAFAFA */

    /* Primary */
    --primary: 0 0% 98.4%; /* #FAFAFA */
    --primary-foreground: 15.6 5.6% 23.1%; /* #403C39 */

    /* Secondary */
    --secondary: 0 0% 98.4%; /* #FAFAFA */
    --secondary-foreground: 15.6 5.6% 23.1%; /* #403C39 */

    /* Muted */
    --muted: 0 0% 98.4%; /* #FAFAFA */
    --muted-foreground: 15.6 5.6% 23.1%; /* #403C39 */

    /* Accent */
    --accent: 0 0% 98.4%; /* #FAFAFA */
    --accent-foreground: 15.6 5.6% 23.1%; /* #403C39 */

    /* Destructive */
    --destructive: 11.2 85.6% 67.8%; /* #F38160 */
    --destructive-foreground: 0 0% 98.4%; /* #FAFAFA */

    /* Border and Input */
    --border: 15.6 5.6% 23.1%; /* #403C39 */
    --input: 15.6 5.6% 23.1%; /* #403C39 */
    --ring: 11.2 85.6% 67.8%; /* #F38160 */
  }
}

 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
  
@keyframes marquee {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}
@keyframes marqueeAr {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}